---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Error 404 (Not Found)!!1";

---
<BaseLayout pageTitle={pageTitle}>
  <h2>Sorry, the page you are looking for, is not found.</h2>

</BaseLayout>
