---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="TruLrn is a knowledge portal website for experiencing, learning and gaining skills."/>
		<title>About - TruLrn | Truly Learn Everything</title>		
	</head>
	<body>
		<header>
			<h1>About - TruLrn</h1>
            <h2>TruLrn - Originated from True Learn</h2>
            <p>TruLrn, with having the motto "Truly Learn Everything" desire to set a goal to learn Everything that really one needs. </p>
		</header>	
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </nav>	
	</body>
</html>
