---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Contact Us";
const pageDescription =
  "Contact us for any of your issue. We will be happy to assist you on your issue.";
---

<BaseLayout pageTitle={pageTitle} , pageDescription={pageDescription}>
  <h2>Here are the information about us.</h2>
  <p>Contact us for any of your issue. We will be happy to assist you on your issue.</p>
</BaseLayout>
