---
import '../styles/global.css';
const pageTitle = "TruLrn";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="TruLrn is a knowledge portal website for experiencing, learning and gaining skills."/>
		<title>{pageTitle} - True Learn | Truly Learn Everything</title>		
	</head>
	<body>
		<header>
			<h1>
				{pageTitle}
			</h1>
			<p>
				Truly Learn Everything
			</p>
		</header>	
		<nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
			<a href="/blog">Blog</a>
        </nav>	
	</body>
</html>
