---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
const pageDescription = "TruLrn is a knowledge portal website for experiencing, learning and gaining skills.";

---
<BaseLayout pageTitle={pageTitle}, pageDescription={pageDescription}>
  <h2>My awesome blog subtitle</h2>

</BaseLayout>


