---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Privacy & Policy";
const pageDescription="Trulrn has no intention to collects user information or any sensetive data related to its users.";
---


<BaseLayout pageTitle={pageTitle}, pageDescription={pageDescription}>
    <h2>Our privacy and policies are below.</h2>
    <p>
        Trulrn has no intention to collects user information or any sensetive data related to its users.
    </p>
 </BaseLayout>