---
import logo from './logo.webp';
---

<div class="site-details">
    <a href="/"><img src={logo} class="site-logo" alt="TruLrn Logo"></a>
    <div class="site-title">
        <h1 class="site-name">
            <a href="/" class="site-name">TruLrn</a>
        </h1>
        <p class="motto">Truly Learn Everything</p>
    </div>

</div>