---
const{platform, username, platformLogo} = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}> <img src={`${platformLogo}`} alt={platform}></a>

<style>
    a{
        display: inline-block;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
</style>