---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
const { pageDescription } = Astro.props;
const siteTitle = "TruLrn | Truly Learn Everything";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    
    <meta name="theme-color" content="#1b0135" />
    <link rel="icon" href="/trulrn_favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" href="/trulrn_192_logo.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content=`${pageDescription}`
    />
    <title>{pageTitle} 🎆 {siteTitle}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-88VJFSZYXE"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-88VJFSZYXE");
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1146193211908307"
    crossorigin="anonymous"></script>
  </head>
  <body>
    <Header />
    <main>
      <h1>
        {pageTitle}
      </h1>
      <slot />
    </main>
    <hr/>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    <!-- SERVICE WORKER SCRIPT -->
	<script>
    if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
    navigator.serviceWorker.register('serviceWorker.js').then(function(registration) {
    // Registration was successful
    console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
    // registration failed :(
    console.log('ServiceWorker registration failed: ', err);
    });
    });
    }
    </script>
  </body>
</html>
